{{#unless singlePage}}
<ul class="page-numbers">
    {{#each pageNumbers}}
    <li>
    {{#unless active}}{{number}}{{/unless}}
    {{#if active}}<a href="#">{{number}}</a>{{/if}}
    </li>
    {{/each}}
</ul>
{{/unless}}
