html, body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding-left: 30px;
    color: rgb(84, 84, 84);
}

.result {
    padding: 20px;
    width: 400px;
    border: 1px solid rgb(213, 213, 213);
    margin-bottom: -1px;
}

.results {
    min-height: 480px;
}

.search {
    margin-bottom: 20px;
}

label {
    margin-right: 20px;
}

.match {
    background-color: rgb(177, 255, 115);
    padding: 4px 0;
    border: 1px solid rgb(109, 247, 0);
    border-radius: 3px;
}

.page-numbers {
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    padding: 0;
}

.page-numbers li {
    display: inline;
}

.page-numbers a {
    text-decoration: none;
    color: blue;
}

.paging-summary {
    font-size: 0.8em;
    margin-left: 10px;
}
